.header {

    background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    background-color: white;
    color: white;
    height: 100vh;
    margin-bottom: 50px;

    @media screen and (max-width: 500px) {
        height: 90vh;
    }

    .container {
        margin: auto;
        width: 70%;
        height: 80%;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 1050px) {
            width: 90%;
        }

        @media screen and (max-width: 500px) {

            width: 100%;
        }

    }

    .row {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }
    }

    .column1 {
        padding: 60px 10px 100px 10px;
        width: 60%;

        @media screen and (max-width: 1000px) {
            width: 100%;
            padding: 30px 5px 10px 20px;
        }
    }

    .column2 {
        width: 40%;
        padding-top: 2.5rem;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }

        .image {
            background-image: url("https://crust.winsomethemes.com/original/wp-content/uploads/sites/81/2021/07/ognl-splt-home.jpg");
            background-size: cover;
            width: 100%;
            height: 100%;
            margin: auto;
            border-radius: 5%;

            @media screen and (max-width: 1000px) {
                height: 40vh;
                width: 80%;
                margin-top: 0;
            }

            @media screen and (max-width: 600px) {
                display: none;
            }
        }
    }

    .content {
        width: 100%;
        text-align: left;
    }

    .content main {
        max-width: 80%;

        @media screen and (max-width: 1000px) {
            max-width: 100%;
        }
    }

    .heading {

        font-size: 3.504rem;
        font-family: Lexend;
        font-weight: 600;
        letter-spacing: -.04em;

        b {
            position: absolute;
            overflow: hidden;
            animation: animate 8s linear infinite;
            opacity: 0;
            transition: ease-in;

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: 2s;
            }

            &:nth-child(3) {
                animation-delay: 4s;
            }

            &:nth-child(4) {
                animation-delay: 6s;
            }
        }

        @media screen and (max-width: 1000px) {
            font-size: 4.504rem;
        }

        @media screen and (max-width: 700px) {
            font-size: 3.3rem;
            font-weight: 600;
        }

        @media screen and (max-width: 500px) {
            font-size: 2.9rem;
        }

        @media screen and (max-width: 350px) {
            font-size: 2.8rem;
        }

    }

    .content main p {
        font-size: 1.25rem;
        margin-top: 0;
        margin-bottom: 2.25rem;
        font-weight: 400;
        font-family: objektiv-mk1, sans-serif;

        @media screen and (max-width: 1000px) {
            font-size: 1.6rem;
        }

        @media screen and (max-width: 700px) {
            font-size: 1.2rem;
            font-weight: 400;
        }

        @media screen and (max-width: 500px) {
            font-size: 1.1rem;
        }

        @media screen and (max-width: 350px) {
            font-size: 1rem;
        }
    }

    .button1 {
        color: white;
        width: 50%;
        background-color: transparent;
        padding: 0.38rem 1.28rem;
        text-align: center;
        font-size: 1.25rem;
        font-family: Lexend;
        font-weight: 500;
        letter-spacing: .02em;
        cursor: pointer;
        border-radius: 5px;
        border: solid white 2px;

        @media screen and (max-width: 1000px) {
            font-size: 1.704rem;
        }

        @media screen and (max-width: 700px) {
            font-size: 1rem;
        }

        @media screen and (max-width: 500px) {
            width: 90%;
            font-size: 1.5rem;
            font-size: 500;
        }
    }

    .footer {
        
        width: 100%;
        margin-top: 1rem;
        font-size: 1.5rem;
        font-size: 500;

        @media screen and (max-width: 500px) {
            width: 100%;
            margin-top: 2rem;
            font-size: 1.5rem;
            font-size: 500;
            text-align: center;
        }
    }

}






@keyframes animate {

    0% {
        opacity: 0;
        transform: translateY((-50px));
    }

    2% {
        opacity: 1;
        transform: translateY((0px));
        transform: scale(1.3, 1.2);
    }

    18% {
        opacity: 1;
        transform: translateY((0px));
        transform: scale(1, 1);
    }

    25% {
        opacity: 0;
        transform: translateY((50px));
    }

    100% {
        opacity: 0;
        transform: translateY((50px));
    }
}