.row {
  margin-top: 5px;
  padding: 5% 5% 5% 10%;
  display: flex;
  justify-content: space-between;
  color: white;
  // background-color: rgb(50, 49, 49);
  
}
@media (max-width: 770px) {
  .row {
    flex-direction: column;
  }
}
.container {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 2%;
  // padding-bottom: 30px;
}
.col {
  flex-basis: 45%;
}
.col h1 {
  font-weight: 650;
  // padding: 30px 2px;
}
.col p {
  text-align: justify;
}
.sub_heading {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2.5px;
  color: rgb(167, 162, 162);
}
.sub_para {
  font-size: 14px;
  color: rgb(167, 162, 162);
  margin-bottom: 60px;
  pointer-events: none;
}
@media (max-width: 770px) {
  .col img {
    scale: (0.8);
  }
}
.image{
    margin-left: 60px;
}
.question {
  cursor: pointer;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(82, 81, 81);
  margin-bottom: 30px;
  color: rgb(181, 179, 179);
}
.question h6 {
  font-weight: 720;
  font-size: 18px;
}
.answer {
  max-height: 0;
  overflow: hidden;
  font-size: 14px;
  color: rgb(167, 162, 162);
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.answer_show {
  height: auto;
  max-height: 300px;
  font-size: 14px;
  color: rgb(167, 162, 162);
}
.maincontainer {
  background-image: url("https://crust.winsomethemes.com/original-dark-elementor/wp-content/uploads/sites/70/2021/11/geometrical-pattern.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.submaincontainer {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
}