@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #222222;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: black;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;

}
.ulstyle:after{
  content: "";
  position: absolute;
  background-color: orange;
  height: 2px;
  width:0;
  left:0;
  bottom: -6px;
  transition: 0.3s;
}
.ulstyle:hover::after{
  width:100%;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}
/* TEAM */
.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 15px auto;
}
.team-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 60px;
  margin: 15px auto;
}
.our-team {
  text-align: center;
  position: relative;
  width: 240px;
  height: 360px;
  margin: 20px;
}

.our-team img {
  width: 800%;
}
.our-team .team-content .name {
  font-size: 18px;
  font-weight: 800;
  display: block;
  margin-bottom: 7px;
}
.our-team .team-content .post {
  font-size: 12px;
  display: block;
}
.team-content {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media screen and (max-width: 1200px) {
  .our-team {
    width: 300px;
  }
}
@media screen and (max-width: 1130px) {
  .our-team {
    margin-bottom: 30px !important;
  }
  .team-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 770px) {
  .team-container-1,
  .team-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 330px) {
  .our-team {
    margin-bottom: 30px !important;
    width: 250px;
  }
}

.past-team {
  box-shadow: none;
  width: 95%;
  margin: 40px auto !important;
  border: 1px solid grey;
}

.testimonials {
  width: 85%;
  margin: auto;
}

.test-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  padding: 80px 100px 80px 100px;
}

.test-item h1,
.test-item p,
.test-item h2 {
  text-align: center;
}
.test-item h1 {
  font-size: 2rem;
}
.test-item h2 {
  font-size: 1.5rem;
}
.test-item > p {
  font-size: 1.1rem;
  margin-top: 20px;
}
.test-item h1,
.test-item h2 {
  color: #f5a422;
  font-weight: bold;
}
@media screen and (max-width: 650px) {
  .testimonials {
    width: 100%;
  }
  .test-item h1 {
    font-size: 1.2rem;
  }
  .test-item h2 {
    font-size: 1rem;
  }
  .test-item p {
    font-size: 0.7rem;
  }
  .test-item {
    padding: 50px 20px 50px 20px;
  }
}

@media screen and (max-width: 460px) {
  .test-item h1 {
    font-size: 1rem;
  }
  .test-item h2 {
    font-size: 0.8rem;
  }
  .test-item p {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  .test-item h1 {
    font-size: 0.8rem;
  }
  .test-item h2 {
    font-size: 0.7rem;
  }
  .test-item p {
    font-size: 0.4rem;
  }
}
.col {
  justify-content: space-around;
}

.select {
  background-color: #1c1f1f;
  padding: 10px;
  font-weight: bold;
  color: white;
  width: fit-content;
  align-items: center;
  text-align: center;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

.workinfo {
  background-color: #222222;
  padding: 3rem;
  display: flex;
  flex-shrink: none;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  min-height: 20rem;
}

.workCard {
  position: relative;
  margin: 1rem;
  background-color: #282828;
  width: 15rem;
  height: 10rem;
  border-radius: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.workCard .firstchild {
  font-size: 4rem;
  justify-content: center;
  color: #686666;
  font-weight: 800;
}
.workCard .secondchild {
  color: white;
  font-size: 3rem;
  justify-content: center;
}
.workCard .secondsubchild {
  font-size: 1rem;
  color: #ffffff87;
}

.workCard:hover {
  background-image: linear-gradient(120deg, #2f39d3 0%, #ff5b4a 100%);
}
/* @media screen and (max-width: 1161px) {
  .workinfo {
    height: 30rem;
    padding: 0rem;
  }
} */
/* @media screen and (max-width: 1230px) and (min-width: 1160px) {
  .workinfo {
    padding: 2rem 0rem;
  }
} */
/* @media screen and (max-width: 639px) {
  .workinfo {
    height: 54rem;
  }
} */
@media screen and (max-width: 300px) {
  .workCard .firstchild {
    font-size: 2rem;

    font-weight: 800;
  }
  .workCard .secondchild {
    font-size: 1rem;
  }
  .workCard .secondsubchild {
    font-size: 0.8rem;
  }
  .workCard {
    padding: 1rem;
  }
  .workinfo {
    height: auto;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  .contact-form {
    width: 95%;
  }
  .right {
    margin-top: 0px;
  }
}

.background {
  background-size: contain;
  -webkit-mask-repeat: no-repeat;
  width: 30rem;
  background-repeat: no-repeat;
  height: 32rem;
  margin: auto;
  /* padding-left: 4rem; */
  margin-left: 4rem;
  margin-top: 4rem;
  position: relative;
  overflow: hidden;
}
/* import for background */
.bg {
  height: 100%;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDgiIGhlaWdodD0iNTA4IiB2aWV3Qm94PSIwIDAgNTA4IDUwOCI+DQogIDxwYXRoIGlkPSJzaGFwZS05IiBkPSJNMjYyLjEzNiw1MDhhNSw1LDAsMCwxLTUtNVYzOTAuN2E1LDUsMCwwLDEsNS01aDExMi4zYTUsNSwwLDAsMSw1LDVWNTAzYTUsNSwwLDAsMS01LDVabS0xMjguNTY4LDBhNSw1LDAsMCwxLTUtNVYzOTAuN2E1LDUsMCwwLDEsNS01aDExMi4zYTUsNSwwLDAsMSw1LDVWNTAzYTUsNSwwLDAsMS01LDVaTTUsNTA4YTUsNSwwLDAsMS01LTVWMzkwLjdhNSw1LDAsMCwxLDUtNUgxMTcuM2E1LDUsMCwwLDEsNSw1VjUwM2E1LDUsMCwwLDEtNSw1Wk0zOTAuNywzNzkuNDMyYTUsNSwwLDAsMS01LTV2LTExMi4zYTUsNSwwLDAsMSw1LTVINTAzYTUsNSwwLDAsMSw1LDV2MTEyLjNhNSw1LDAsMCwxLTUsNVptLTEyOC41NjgsMGE1LDUsMCwwLDEtNS01di0xMTIuM2E1LDUsMCwwLDEsNS01aDExMi4zYTUsNSwwLDAsMSw1LDV2MTEyLjNhNSw1LDAsMCwxLTUsNVptLTEyOC41NjgsMGE1LDUsMCwwLDEtNS01di0xMTIuM2E1LDUsMCwwLDEsNS01aDExMi4zYTUsNSwwLDAsMSw1LDV2MTEyLjNhNSw1LDAsMCwxLTUsNVpNNSwzNzkuNDMyYTUsNSwwLDAsMS01LTV2LTExMi4zYTUsNSwwLDAsMSw1LTVIMTE3LjNhNSw1LDAsMCwxLDUsNXYxMTIuM2E1LDUsMCwwLDEtNSw1Wk0zOTAuNywyNTAuODY0YTUsNSwwLDAsMS01LTV2LTExMi4zYTUsNSwwLDAsMSw1LTVINTAzYTUsNSwwLDAsMSw1LDV2MTEyLjNhNSw1LDAsMCwxLTUsNVptLTEyOC41NjgsMGE1LDUsMCwwLDEtNS01di0xMTIuM2E1LDUsMCwwLDEsNS01aDExMi4zYTUsNSwwLDAsMSw1LDV2MTEyLjNhNSw1LDAsMCwxLTUsNVptLTEyOC41NjgsMGE1LDUsMCwwLDEtNS01di0xMTIuM2E1LDUsMCwwLDEsNS01aDExMi4zYTUsNSwwLDAsMSw1LDV2MTEyLjNhNSw1LDAsMCwxLTUsNVpNMjYyLjEzNiwxMjIuM2E1LDUsMCwwLDEtNS01VjVhNSw1LDAsMCwxLDUtNWgxMTIuM2E1LDUsMCwwLDEsNSw1VjExNy4zYTUsNSwwLDAsMS01LDVabS0xMjguNTY4LDBhNSw1LDAsMCwxLTUtNVY1YTUsNSwwLDAsMSw1LTVoMTEyLjNhNSw1LDAsMCwxLDUsNVYxMTcuM2E1LDUsMCwwLDEtNSw1Wk01LDEyMi4zYTUsNSwwLDAsMS01LTVWNUE1LDUsMCwwLDEsNSwwSDExNy4zYTUsNSwwLDAsMSw1LDVWMTE3LjNhNSw1LDAsMCwxLTUsNVoiIGZpbGw9IiM2ZDZkNmQiLz4NCjwvc3ZnPg0K);
}

@media (max-width: 610px) {
  .background {
    margin-left: 0;
  }
}
@media (max-width: 520px) {
  .background {
    margin-top: 2rem;
    width: 20rem;
    height: 20rem;
    margin-left: -2rem;
    padding: 0;
  }
  .bg {
    height: 100%;
  }
}
@media (max-width: 400px) {
  .background {
    margin-top: 2rem;
    margin-left: 0;
  }
}

.maincontainer01 {
  background-color: #222222;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.sub01 {
  border-radius: 1rem;

  background-color: #262728;

  height: 80%;
  margin: 1rem;
  width: 45%;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1rem 4rem;
}
.sub02 {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #303133;
  height: 80%;
  margin: 1rem;
  color: #6b6b6b;
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.titlefont {
  color: #7a7a7a;
}
.Circle02 {
  position: absolute;
  width: 8rem;
  height: 8rem;
  z-index: 1;
  background-color: transparent;
  bottom: 4.9rem;
  border: 2px solid white;
  border-radius: 6rem;
  left: 4.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.Circle01 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  z-index: 2;
  background-color: transparent;
  bottom: 4rem;
  border: 2px solid white;
  border-radius: 6rem;
  left: 4rem;
}
.Circle01:hover ~ .Circle02 {
  background-color: white;
  color: black;
}
.Circle01:hover {
  animation: playcircle 2s infinite;
}
@keyframes playcircle {
  0% {
    height: 10rem;
    width: 10rem;
    opacity: 1;
  }
  90% {
    height: 12rem;
    width: 12rem;
    left: 3rem;
    bottom: 3rem;
  }
  100% {
    opacity: 0;
    height: 12rem;
    width: 12rem;
  }
}
.buttondis {
  margin-top: 2rem;
  width: 12rem;
  border-radius: 0.3rem;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.8rem 1.75rem;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(90deg, #2f39d3 0%, #ff5b4a 100%);
  cursor: pointer;
  transition: 2s ease-in-out;
}
.buttondis:hover {
  background-image: linear-gradient(90deg, #ff5b4a 0%, #2f39d3 100%);
}
@media screen and (max-width: 1400px) {
  .buildingh1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 909px) {
  .buildingh1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 824px) {
  .buildingh1 {
    font-size: 1.8rem;
  }
  .titlefont {
    font-size: 0.9rem;
  }
  .maincontainer01 {
    display: block;
    height: 50rem;
    padding-top: 1rem;
  }
  .sub01 {
    width: 95%;
    margin: 1rem auto;
    height: 50%;
  }
  .sub02 {
    width: 95%;
    margin: auto;
    height: 50%;
  }
}
@media screen and (max-width: 477px) {
  .maincontainer01 {
    height: 45rem;
  }
  .buildingh1 {
    font-size: 1.5rem;
  }
  .titlefont {
    font-size: 0.9rem;
  }
  .sub01 {
    padding: 1rem 2rem;
    height: 45%;
  }
  .buttondis {
    margin-top: 1rem;
    font-size: 0.8rem;
    overflow: hidden;
    width: 8rem;
    padding: 0.2rem 0.2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .sub01 {
    width: 99%;
  }
  .sub02 {
    width: 99%;
  }
  .maincontainer01 {
    padding: 1rem 1rem;
  }
}
@media screen and (max-width: 375px) {
  .buildingh1 {
    font-size: 1.4rem;
  }
  .titlefont {
    font-size: 01rem;
  }
  .sub01 {
    width: 95%;
    margin: 1rem auto;
    height: 50%;
  }
  .sub02 {
    width: 95%;
    margin: auto;
    height: 45%;
  }
}
@media screen and (max-width: 300px) {
  .titlefont {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 236px) {
  .buildingh1 {
    font-size: 1.2rem;
  }
  .sub01 {
    padding: 2rem 01rem;
    overflow: scroll;
  }
  .maincontainer01 {
    height: 40rem;
  }
}

.portcontainer {
  background-color: transparent;
  width: fit-content;
  padding: 1rem;
}
.womanimg {
  size: 100%;
}
.portwomen {
  height: 100%;

  /* width: fit-content; */
  -webkit-mask-image: url(https://crust.winsomethemes.com/original-dark-elementor/wp-content/plugins/crust-core/assets/front/images/splitter/shape-44.svg);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
}
@media screen and (max-width: 473px) {
  .portcontainer {
    height: 30rem;
  }
}
@media screen and (max-width: 418px) {
  .portcontainer {
    height: 25rem;
  }
}
@media screen and (max-width: 354px) {
  .portcontainer {
    height: 20rem;
  }
}
@media screen and (max-width: 275px) {
  .portcontainer {
    height: 15rem;
  }
}
